.wrapper{
  max-width: 1070px;
  background-color: #f8f9fa;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .col-sm-6.col-md-5.col-lg-6.aaa{
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 10px;
    .main-image{
      width: calc( 100% - 20px );
      height: 485px;
    }
  }
  .col-sm-6.col-md-5.offset-md-2.col-lg-6.offset-lg-0{
    padding: 20px 0;
    padding-left: 10px;
    padding-right: 20px;
    .content-in{
      background-color: #fff;
      height: 100%;
      .name-label{
        padding-top: 10px;
      }
      .item-name{
        margin-bottom: 25px;
        @extend .item-content1;
      }
      .item-in{
        display: flex;
        justify-content:space-between;
        padding-right: 30px;
        .price-label{
          padding-top: 10px;
        }
        .item-price{
          color: #bf0000;
          margin-bottom: 20px;
          @extend .item-content1;
        }
        .state-label{
          padding-top: 10px;
        }
        .item-state{
          @extend .item-content2;
        }
        .local-label{
          padding-top: 10px;
        }
        .item-local{
          @extend .item-content2;
        }
      }
      .description-label{
        padding-top: 10px;
      }
      .item-description{
        border: solid 1px;
        border-radius: 10px;
        border-color: #C0C0C0;
        height: 194px;
        padding: 5px;
        margin: 0 10px;
        overflow: scroll;
      }
    }
  }
  &--footer{
    width: 100%;
    .btn-success{
      font-size: 24px;
      height: 57px;
      text-align: center;
      margin-top: 5px;
      margin: 6px auto;
      padding: 10px;
    }
    .page-link{
      text-align: center;
    }
    .btn-dark{
      font-size: 24px;
      height: 57px;
      text-align: center;
      margin-top: 5px;
      margin: 6px auto;
      padding: 10px;
    }
    .btn-secondary{
      height: 35px;
      text-align: center;
      margin-top: 5px;
      margin: 6px auto;
      padding: 5px;
    }
  }
}

.item-content1{
  font-size: 27px;
  padding-left: 10px;
  margin-top: 5px;
}
.item-content2{
  font-size: 19px;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}